<div class="page-container">
    <h1 class="mat-h1">Users</h1>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <mat-icon *ngIf="user.role === 'admin'" aria-label="Admin">admin_panel_settings</mat-icon>
            <mat-icon *ngIf="user.role === 'organizer'" aria-label="Organizer">event</mat-icon>
            <mat-icon *ngIf="user.role === 'member'" aria-label="Member">person</mat-icon>
        </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <button mat-button color="primary" (click)="viewUser(user)">
                <mat-icon>visibility</mat-icon>
                View
            </button>
        </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['firstName', 'lastName', 'role', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['firstName', 'lastName', 'role', 'actions'];"></mat-row>
    </mat-table>
</div>