.event-list {
  margin-top: 2rem;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-info {
  display: flex;
  flex-direction: column;
}

.event-name {
  font-weight: 500;
}

.event-date {
  font-size: 0.9em;
  color: #888;
}