<div class="page-container">
  <h1 class="mat-h1">Event</h1>
  <ng-container *ngIf="store.event() as event; else loading">
    <h2> {{ event.name }}</h2>
    <p><strong>Date:</strong> {{ event.date | date }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p><strong>Attendees:</strong> {{ event.attendees.length }}/{{ event.maxAttendees }}</p>
    <div *ngIf="store.attendingUsers().length > 0">
      <strong>Attending Users:</strong>
      <mat-list>
        <mat-list-item *ngFor="let user of store.attendingUsers()">
            <div style="display: flex; flex-direction: row;">
                <mat-icon matListIcon>person</mat-icon>
                <div>{{ user.firstName }} {{ user.lastName }}</div>
            </div>
        </mat-list-item>
      </mat-list>
    </div>
    <!-- Add Attend/Not Attending buttons -->
    <button mat-raised-button color="primary" (click)="attendEvent()" [disabled]="store.isAttending()">Attend</button>
    <button mat-raised-button color="warn" (click)="notAttendEvent()" [disabled]="!store.isAttending()">Not Attending</button>
  </ng-container>
  <ng-template #loading>
    <p>Loading event details...</p>
  </ng-template>
</div>