<mat-toolbar color="primary" class="mat-elevation-z3">
  <button mat-icon-button (click)="doSomething()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer opened mode="side" [style.width]="sideNavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"/>
  </mat-sidenav>
  <mat-sidenav-content class="padding: 24px" [style.margin-left]="sideNavWidth()">
    <mat-toolbar>
      <span>Bike App</span>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
