/* You can add global styles to this file, and also import other style files */

// :root {
//     --mat-list-active-indicator-color: rgba(0, 0, 0, 0.1);
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-container {
  margin: 20px;
}